<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- reponsive meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Industrial || Responsive BootStrap HTML 5 Template</title>
    <!-- Bootstrap-->
    <script src="https://kit.fontawesome.com/4163cc19b6.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- animate css-->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- owl-carousel-->
    <link rel="stylesheet" href="/vendors/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="/vendors/revolution/css/settings.css">
    <link rel="stylesheet" href="/vendors/revolution/css/layers.css">
    <link rel="stylesheet" href="/vendors/revolution/css/navigation.css">
    <link rel="stylesheet" href="/vendors/jquery-ui-1.11.4/jquery-ui.min.css">
    <!-- Main Css-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

  </head>
  <body>
    <header id="header">
      <!-- Logo Section-->
      <div class="container">
        <div class="row pad-logo logo-wrapper">
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 t-logo"><a href="index-2.html"><img src="/assets/logo.png" alt="logo" class="img-responsive"></a></div>
          <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 text-right">
            <div class="top-two-right">
              <div class="top-panel">
                <div class="touch_top touch_top_pad">
                  <ul class="nav">
                    <li class="item item-phone">
                      <div class="media">
                        <div class="blue-color media-left"><a href="#"><i class="icon icon-Phone2"></i></a></div>
                        <div class="media-body">
                          <p>+ (1800) 456 7890<br><span><a href="mailto:info@industrial.com">info@industrial.com</a></span></p>
                        </div>
                      </div>
                    </li>
                    <li class="item item-ad">
                      <div class="media">
                        <div class="blue-color media-left"><a href="#"><i class="icon icon-Pointer"></i></a></div>
                        <div class="media-body">
                          <p>13005 Greenville Avenue<br><span>California, TX 70240</span></p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Navigation-->
      <div class="main_menu menu_fixed nav-home-three">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
              <div class="logo"><img src="/assets/logo.png" alt=""></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="nav-menu pull-left text-left">
                <div class="nav-t-holder pull-left text-left">
                  <div class="nav-t-header">
                    <button><i class="fa fa-bars"></i></button>
                  </div>
                  <div class="nav-t-footer">
                    <ul class="nav">
                      <li><a href="index-2.html">Home</a></li>
                      <li><a href="projects.html">Projects</a>
                      <li><a href="contact.html">contact us</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Navigation-->
    </header>
    <!-- Inner Header-->
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Projects</h2>
      </div>
    </section>
    <!-- Projects  Details-->
    <section class="core-projects sectpad">
      <div class="container clearfix">
        <div class="pro-det-img">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="/images/projects/pro-de-img1.jpg" >
                  </div>
                  <div class="item">
                    <iframe width="100%" height="500px" src="https://www.youtube.com/embed/CviO5r3seXU">
                    </iframe>
                  </div>

                </div>
              
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="height: 50%; margin: auto; background: rgba(0,0,0,0.05);">
                  <span class="icon-prev" style="font-size: 50px;" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="height: 50%; margin: auto; background: rgba(0,0,0,0.05);">
                  <span class="icon-next" style="font-size: 50px;"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        <div class="pro-content clearfix">
          <h1> <%= currentProject.title %>  </h1>
          <h4>Project Desciption</h4>
          <p> <%= currentProject.description %>  </p>
        </div>
        <div class="projects_hours clearfix">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p>Project Starting Date<span>12.01.2016</span></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p>Project End<span>In Progress</span></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p>Category<span>Resarch</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Indurial Solution-->
    <footer class="sec-padding footer-bg footer-bg3">
      <div class="container clearfix">
        <div class="row">
          <div class="widget about-us-widget col-md-4 col-sm-6"><a href="#"><img src="/assets/logo.png" alt=""></a>
          </div>
          <div class="widget widget-links col-md-4 col-sm-6">
            <h4 class="widget_title">Quick Links</h4>
            <div class="widget-contact-list row m0">
              <ul>
                <li><a href="/">- Home</a></li>
                <li><a href="/contact">- Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="widget widget-contact col-md-4 col-sm-6">
            <h4 class="widget_title">Get in Touch</h4>
            <div class="widget-contact-list row m0">
              <ul>
                <li><i class="fas fa-map-marker"></i>
                  <div class="fleft location_address">Lorance 542B, Tailstoi Town 5248 MT, Wordwide Country</div>
                </li>
                <li><i class="fas fa-phone"></i>
                  <div class="fleft contact_no"><a href="#">01865 524 8503</a></div>
                </li>
                <li><i style="margin-top: 15px;" class="fas fa-envelope"></i>
                  <div class="fleft contact_mail"><a href="mailto:info@woodworkshop.com">info@woodworkshop.com</a></div>
                </li>
                <li><i class="icon icon-Timer"></i>
                  <div class="fleft service_time">Mon - Sat : 9am to 6pm</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/jquery-1.12.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Revolution Slider Tools-->
    <script src="/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Revolution Slider-->
    <script type="text/javascript" src="/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/contact.js"></script>
    <!-- owl carousel-->
    <script src="/vendors/owlcarousel/owl.carousel.min.js"></script>
    <script src="/vendors/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTI1BZJKFCeJ8g9O01CMZ4QvVCfdPYkrE"></script>
    <script src="/js/gmaps.min.js"></script>
    <script src="/js/theme.js"></script>

    <script>
        $( "i" ).removeClass( "fa" ).addClass( "fas" );
        $('.carousel').carousel({
  interval: null
})
    </script>
  </body>

</html>